@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
html, body { @apply h-full overflow-hidden; }
code { font-family: 'Google Sans Mono' !important; };
.page {
  @apply p-4 md:p-10;
}
